kubeconfig
kubeconfig.*
k3d
helm
helm.*
app.ini
events.txt
.env
external-service.yaml
key
key.pub
install.yaml
k3d-config/argo-intern.yaml
k3d-config/argo-dmz.yaml
install.yaml.modified
guestbook/
helm-guestbook/
