/build/
/tf.state*
.extcode
.vscode
.idea
kubeconfig
kubeconfig.*
flux
minikube
k3d
flux-staging
flux-staging.*
flux-production
flux-production.*
flux-fleet
flux-fleet.*
helm
helm.*
app.ini
events.txt
.env
external-service.yaml
key
key.pub
FluxCD-CORE
FluxCD-CORE.*
FluxCD-tenant01
FluxCD-tenant01.*
